a {
  color: inherit;
}

#root {
  height: 100vh;
  overflow-x: hidden;
}

#intro {
	padding-top: 20vh;
  min-height: 100vh;
  background: linear-gradient(to top left, #f280a1 45%, #fefefe 45%);
}

#multi {
  padding-top: 10vh;
  background: linear-gradient(to bottom right, #fefefe 30%, #ebebeb 50%);
}

#info {
  padding-top: 10vh;
  background: linear-gradient(to top left, #fefefe 30%, #ebebeb 50%);
}

#schedule {
  padding-top: 3vh;
  padding-bottom: 30vh;
  background: linear-gradient(to top left, #fefefe 80%, #f280a1 20%);
}
hr {
  margin-bottom: 20px !important; 
}